.hero {
  border: 2px solid red;
  background-color: #1e3134;
  min-height: 56rem;
}
.hero_warp {
  height: 15rem;
}
.hero_header {
  height: 8rem;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 76rem;
  border: 2px yellow solid;
}
.logo {
  border: 2px yellow solid;
  height: 4rem;
  width: 20rem;
}

.logo_size {
  width: 20rem;
  height: 4rem;
}
.right {
  border: 2px pink solid;
  display: flex;
  gap: 1rem;
  height: 4rem;
}
.email {
  display: flex;
  gap: 1rem;
}
.call {
  display: flex;
  gap: 1rem;
}
.navbar {
  border: 2px purple solid;
  max-width: 76rem;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #02cb62;
}
.navbar_left {
  display: flex;
  align-items: center;
  list-style: none;
  height: 4rem;
  gap: 1rem;
  color: black;
  margin-left: 2rem;
}
.navbar_right {
  display: flex;
  align-items: center;
}
.talk {
  color: black;
  margin-right: 2rem;
}
