.Wrapper {
  border: 2px yellow solid;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 76rem;
  margin: 0 auto 0 auto;
}
.group {
  max-width: 76rem;
  height: 50rem;
}

.Wrapper_one {
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper_text {
  font-size: 120px;
  padding-right: 60px;
}
.stroke {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  justify-content: center;
  font-size: larger;
}
.Wrapper_two {
  border: 2px red solid;
  height: 25rem;
  display: flex;
  gap: 2rem;
}
.same {
  border: 2px purple solid;
  height: 20rem;
  width: 25rem;
  border-radius: 8px;
}
